# Dependências do Node (Pesadas, cada um instala o seu)
node_modules

# Variáveis de ambiente (Senhas, cada um cria o seu)
.env

# Banco de dados SQLite (Binário, não deve ser versionado)
*.db
*.db-journal

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional (Lixo)
.DS_Store
Thumbs.db